<div>
  <div v-if="!updating && !finished">
    <p>
      You can update Wikidata with the following 'position held' information for statement for
      <wikilink :id="statement.person_item">{{ statement.person_name }}</wikilink>
      now:
    </p>

    <StatementChangeSummary :statement="statement" :page="page"></StatementChangeSummary>

    <p>
      <button v-on:click="updatePositionHeld()" class="mw-ui-button mw-ui-progressive">Create or update 'position held'</button>
    </p>
  </div>
  <div v-else-if="updating">
    Updating...
  </div>
  <div v-else-if="!updating && finished && updateError">
    <p>
      Oops we couldn’t make that change right now: {{ updateError }}
    </p>

    <details>
      <summary>Changes we attempted</summary>
      <StatementChangeSummary :statement="statement" :page="page"></StatementChangeSummary>
    </details>

    <p>
      <button v-on:click="updatePositionHeld()" class="mw-ui-button">Retry</button>
    </p>
  </div>
  <div v-else>
    Successfully updated!
  </div>
</div>
