<span>
  <span v-if="!searchResultsLoading && !searchResultsLoaded">
    <button v-on:click="searchForName()" class="mw-ui-button mw-ui-progressive">Search</button>
  </span>
  <span v-if="searchResultsLoading">
    Loading search results...
  </span>
  <span v-if="searchResultsLoaded">
    <label>Wikidata item: <input id="chosen-item" type="text"></input></label>
    <h3>Create a new item</h3>
    <button v-on:click="createPerson()">Create {{ statement.person_name }}</button>
    <h3>Wikidata search results</h3>
    <ul class="wd-search-results">
      <li v-for="wdResult in searchResults.fromWikidata">
        <button v-on:click="reconcileWithItem(wdResult.item)">Use this</button>
        <span class="item-from-search">{{ wdResult.item }}</span>
        <a target="_blank" rel="noopener nofollow" class="external free" :href="wdResult.url">{{ wdResult.label }} ({{ wdResult.description }})</a>
      </li>
    </ul>
    <h3>Wikipedia search results</h3>
    <ul class="wp-search-results">
      <li v-for="wpResult in searchResults.fromWikipedia">
        <button v-on:click="reconcileWithItem(wpResult.item)">Use this</button>
        <span class="item-from-search">{{ wpResult.item }}</span>
        <a target="_blank" rel="noopener nofollow" class="external free" :href="wpResult.wpURL">{{ wpResult.title }} </a>
        <div v-html="wpResult.snippetHTML"></div>
      </li>
    </ul>
  </span>
</span>
