<span>
  <span v-if="!searchResults">
    <button v-if="statement.reconciliations.indexOf('person') != -1" v-on:click="searchForName()" class="mw-ui-button mw-ui-progressive">Search for person</button>
    <button v-if="statement.reconciliations.indexOf('party') != -1" v-on:click="searchForParty()" class="mw-ui-button mw-ui-progressive">Search for party</button>
    <button v-if="statement.reconciliations.indexOf('district') != -1" v-on:click="searchForDistrict()" class="mw-ui-button mw-ui-progressive">Search for district</button>
  </span>
  <span v-else>
    <span v-if="this.searchResourceType === 'person'">
      <h3>Create a new item</h3>
      <button v-on:click="createPerson()" class="mw-ui-button">Create {{ statement.person_name }}</button>
    </span>
    <h3>Wikidata search results</h3>
    <ul class="wd-search-results">
      <li v-for="wdResult in searchResults.fromWikidata">
        <button v-on:click="reconcileWithItem(wdResult.item)" class="mw-ui-button">Use this</button>
        <span class="item-from-search">{{ wdResult.item }}</span>
        <a target="_blank" rel="noopener nofollow" class="external free" :href="wdResult.url">{{ wdResult.label }} ({{ wdResult.description }})</a>
      </li>
    </ul>
    <h3><input v-if="languageChooserActive" v-model="languageCode" class="language-chooser"><span v-else>{{ languageCode }}</span>.wikipedia.org search results <button v-on:click="toggleLanguageChooser()" v-if="!languageChooserActive" class="mw-ui-button">Choose a different Wikipedia</button><button v-else v-on:click="changeLanguage()" class="mw-ui-button mw-ui-progressive">Update results</button></h3>
    <ul class="wp-search-results">
      <li v-for="wpResult in searchResults.fromWikipedia">
        <button v-on:click="reconcileWithItem(wpResult.item)" class="mw-ui-button">Use this</button>
        <span class="item-from-search">{{ wpResult.item }}</span>
        <a target="_blank" rel="noopener nofollow" class="external free" :href="wpResult.wpURL">{{ wpResult.title }} </a>
        <div v-html="wpResult.snippetHTML"></div>
      </li>
    </ul>
  </span>
</span>
