<span>
  <span v-if="askAboutBulkUpdate">
    <div>
      <input type="radio" id="bulk-update-single" value="single" v-model="bulkUpdateType">
      <label for="bulk-update-single">Just update this statement</label>
    </div>
    <div v-if="bulkUpdateCounts.otherMatchingUnreconciled > 0">
      <input type="radio" id="bulk-update-also_matching_unreconciled" value="also_matching_unreconciled" v-model="bulkUpdateType">
      <label for="bulk-update-also_matching_unreconciled">Also update {{ bulkUpdateCounts.otherMatchingUnreconciled }} other unreconciled occurences of {{ bulkName }}?</label>
    </div>
    <div v-if="bulkUpdateCounts.otherMatching != bulkUpdateCounts.otherMatchingUnreconciled">
      <input type="radio" id="bulk-update-also_matching" value="also_matching" v-model="bulkUpdateType">
      <label for="bulk-update-also_matching">Also update {{ bulkUpdateCounts.otherMatching }} other occurences of {{ bulkName }} (including {{ bulkUpdateCounts.otherMatching - bulkUpdateCounts.otherMatchingUnreconciled }} already reconciled with a different item)?</label>
    </div>
    <div>
      <button v-on:click="bulkReconcileWithItem(bulkUpdateItem)">Continue</button>
    </div>
  </span>
  <span v-else-if="!searchResults">
    <p>Click above to reconcile Subject, District, or Parliamentary group.</p>
  </span>
  <span v-else>
    <h3>
      Results for
      <input v-model="searchTerm" type="search" v-on:keyup.enter="changeLanguage()">
      from Wikidata and
      <input v-model="languageCode" class="language-chooser"v-on:keyup.enter="changeLanguage()">.wikipedia.org
      <button v-on:click="changeLanguage()" class="mw-ui-button mw-ui-progressive">Update results</button>
    </h3>
    <ul class="verification-tool__search-results">
      <li v-for="wdResult in searchResults.fromWikidata">
        <button v-on:click="reconcileWithItem(wdResult.item)" class="mw-ui-button">Use this</button>
        <div>
          <a target="_blank" rel="noopener nofollow" class="external free name" :href="wdResult.url">{{ wdResult.label }}</a>
          <span class="item-from-search">{{ wdResult.item }}</span>
          <p class="description">{{ wdResult.description }}</p>
        </div>
      </li>
      <li v-for="wpResult in searchResults.fromWikipedia">
        <button v-on:click="reconcileWithItem(wpResult.item)" class="mw-ui-button">Use this</button>
        <div>
          <a target="_blank" rel="noopener nofollow" class="external free name" :href="wpResult.wpURL">{{ wpResult.title }} </a>
          <span class="item-from-search">{{ wpResult.item }}</span>
          <p v-html="wpResult.snippetHTML" class="description"></p>
        </div>
      </li>
      <li>
        <button v-on:click="create(searchResourceType)" class="mw-ui-button">Create new item: {{ searchTerm }}</button>
      </li>
    </ul>
  </span>
</span>
