<tbody>
<tr :id="'s:' + statement.transaction_id" v-bind:class="'verification-tool__statement verification-tool__statement--' + stylingClass">
  <td>
    <div v-if="statement.person_name">
      {{ statement.person_name }}
      <wikilink v-if="statement.person_item" :id="statement.person_item">{{ statement.person_item }}</wikilink>
      <span class="unreconciled-value" v-else="" v-on:click="searchFor('person')">unreconciled</span>
    </div>
  </td>
  <td>
    <div v-if="statement.electoral_district_name">
      {{ statement.electoral_district_name }}
      <wikilink v-if="statement.electoral_district_item" :id="statement.electoral_district_item">{{ statement.electoral_district_item }}</wikilink>
      <span class="unreconciled-value" v-else="" v-on:click="searchFor('electoral_district')">unreconciled</span>
    </div>
  </td>
  <td>
    <div v-if="statement.parliamentary_group_name">
      {{ statement.parliamentary_group_name }}
      <wikilink v-if="statement.parliamentary_group_item" :id="statement.parliamentary_group_item">{{  statement.parliamentary_group_item }}</wikilink>
      <span class="unreconciled-value" v-else="" v-on:click="searchFor('parliamentary_group')">unreconciled</span>
    </div>
  </td>
  <td class="verification-tool__table__cell--narrow">
    <a class="verification-tool__table__cell-link" :href="'#s:' + statement.transaction_id" title="Link to this statement">§</a>
  </td>
</tr>
<tr>
  <td colspan="4" v-bind:class="'verification-tool__statement-controls verification-tool__statement-controls--' + stylingClass">
    <keep-alive>
      <component v-bind:is="currentView" :statement="statement" :page="page" :country="country"></component>
    </keep-alive>
  </td>
</tr>
</tbody>
