<tbody>
<tr :id="'s:' + statement.transaction_id" class="verification-tool__statement">
  <td>
    {{ statement.person_name }}
    <wikilink :id="statement.person_item">{{ statement.person_item }}</wikilink>
  </td>
  <td>
    {{ statement.electoral_district_name }}
    <wikilink :id="statement.electoral_district_item">{{ statement.electoral_district_item }}</wikilink>
  </td>
  <td>
    {{ statement.parliamentary_group_name }}
    <wikilink :id="statement.parliamentary_group_item">{{  statement.parliamentary_group_item }}</wikilink>
  </td>
  <td class="verification-tool__table__cell--narrow">
    <a class="verification-tool__table__cell-link" :href="'#s:' + statement.transaction_id" title="Link to this statement">§</a>
  </td>
</tr>
<tr>
  <td colspan="4" v-bind:class="'verification-tool__statement-controls verification-tool__statement-controls--' + stylingClass">
    <keep-alive>
      <component v-bind:is="currentView" :statement="statement" :page="page" :country="country"></component>
    </keep-alive>
  </td>
</tr>
</tbody>
