<span>
  <p>Does <a target="_blank" rel="noopener nofollow" class="external free" :href="page.reference_url">{{ page.reference_url }}</a> provide evidence for this position?</p>

  <span v-if="!changingName">
    <button v-on:click="submitStatement(true)" class="mw-ui-button mw-ui-progressive">Yes, verify</button>
    <button v-on:click="changeName()" class="mw-ui-button">Yes, but their name isn't quite right</button>
    <button v-on:click="submitStatement(false)" class="mw-ui-button">No evidence</button>
  </span>
  <span v-else>
    <label for="name">New name: <input v-model="newName" name="name"></label>
    <button v-on:click="verifyStatement()" class="mw-ui-button mw-ui-progressive">Verify with new name</button>
    <button v-on:click="cancelChangeName()" class="mw-ui-button">Cancel</button>
  </span>
</span>
