<div>
  <span v-if="askAboutOtherStatements">
    <div>
      <input type="radio" id="this-statement" v-model="referenceURLScope" value="this-statement">
      <label for="this-statement">Change for this statement only</label>
    </div>
    <div>
      <input type="radio" id="all-other-statements" v-model="referenceURLScope" value="all-statements">
      <label for="all-other-statements">Change for all remaining statements</label>
    </div>
    <div>
      <button v-on:click="onChangeReferenceURL">Continue</button>
    </div>
  </span>
  <span v-else-if="!editing && referenceURL">
    <p>
      Is this shown at <a target="_blank" rel="noopener nofollow" class="external free" :href="referenceURL">{{ referenceURL }}</a>?
      <small>(<a v-on:click="editing = true">change reference URL</a>)</small>
    </p>

    <button v-on:click="submitStatement(true)" class="mw-ui-button mw-ui-progressive">Yes</button>
    <button v-on:click="submitStatement(false)" class="mw-ui-button">No</button>
  </span>
  <span v-else>
    <p>
      Please enter a reference URL:
      <input v-model="userReferenceURL" type="url" v-on:keypress.enter="askAboutOtherStatements = true">
      <button v-on:click="askAboutOtherStatements = true">Save</button>
      <a v-if="page.reference_url" v-on:click="editing = false">Cancel</a>
    </p>
  </span>
</div>
