<!DOCTYPE html>
<html>
  <head>
    <title>Verification Pages</title>
    <%= javascript_pack_tag 'verification_tool' %>
  </head>
  <body>
    <div id="mw-content-text">
      <!-- This div matches one on every Mediawiki page -->
    </div>
  </body>
</html>
