<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html class="client-js" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Verification Pages</title>
    <%= javascript_tag "window.CURRENT_PAGE_TITLE = '#{@page.title}'" %>
    <%= javascript_tag "window.WIKIDATA_SITE = '#{ENV['WIKIDATA_SITE']}'" %>
    <%= javascript_pack_tag 'verification_tool' %>
    <%= stylesheet_link_tag 'wikidata_styles' %>
  </head>
  <body>
    <div class="mw-body">
      <div class="mw-body-content">
        <div id="mw-content-text">
          <div class="mw-parser-output">
            <h1><span class="mw-headline">Dashboard of statements</span></h1>
            <div id="js-verification-tool"></div>
            <!-- Add the currently expected tailing text so we can see that
                 the prompt to install the JavaScript is removed -->
            <p><br /></p>
            <table class="layouttemplate plainlinks">
              <tr>
                <td>You can contribute your own verifications to
                this page by installing some JavaScript to your
                common.js</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
