<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html class="client-js" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Verification Pages</title>
    <%= javascript_tag "CURRENT_PAGE_TITLE = '#{@page.title}'" %>
    <%= javascript_pack_tag 'verification_tool' %>
    <%= stylesheet_link_tag 'wikidata_styles' %>
  </head>
  <body>
    <div class="mw-body">
      <div class="mw-body-content">
        <div id="mw-content-text">
          <div class="mw-parser-output">
            <h1><span class="mw-headline">Dashboard of statements</span></h1>
            <div id="js-verification-tool"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
