<!DOCTYPE html>
<html>
  <head>
    <title>Verification Pages</title>

    <%= javascript_pack_tag 'verification_tool' %>
  </head>

  <body>
    <div id="verification-tool">
      <p>{{status}}</p>
    </div>
  </body>
</html>
