<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html class="client-js" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Verification Pages</title>
    <%= javascript_pack_tag 'verification_tool' %>
    <%= stylesheet_link_tag 'wikidata_styles' %>
  </head>
  <body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-4 ns-subject skin-vector action-view">
    <div id="mw-page-base" class="noprint"></div>
    <div id="mw-head-base" class="noprint"></div>
    <div id="content" class="mw-body" role="main">
      <a id="top" name="top"></a>
      <div id="siteNotice" class="mw-body-content">
        <!-- CentralNotice -->
      </div>
      <div class="mw-indicators mw-body-content"></div>
      <h1 id="firstHeading" class="firstHeading" lang="en">
      </h1>
      <div id="bodyContent" class="mw-body-content">
        <div id="siteSub" class="noprint">
          From Wikidata
        </div>
        <div id="contentSub"></div>
        <div id="jump-to-nav" class="mw-jump">
          Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a>
        </div>
        <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"></div>
        <div class="printfooter">
        </div>
        <div id="catlinks" class="catlinks" data-mw="interface">
          <div id="mw-normal-catlinks" class="mw-normal-catlinks">
          </div>
        </div>
        <div class="visualClear"></div>
      </div>
    </div>
    <div id="mw-navigation">
      <h2>
        Navigation menu
      </h2>
      <div id="mw-head">
        <div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
        </div>
        <div id="left-navigation">
        </div>
        <div id="right-navigation">
        </div>
      </div>
      <div id="mw-panel">
      </div>
    </div>
  </body>
</html>
