<h1>Verification Pages</h1>
<p>Please ensure you've logged in and added <code>importScript('User:<%= wikidata_bot %>/verification.js');</code> to your <%= link_to_wiki 'common.js', 'Special:MyPage/common.js' %>.</p>
