<h1>Verification Pages</h1>
<p>Please ensure you've logged in and added <code>importScript('User:<%= wikidata_bot %>/verification.js');</code> to your <a href="https://<%= ENV.fetch('WIKIDATA_SITE') %>/wiki/Special:MyPage/common.js">common.js</a>.</p>
