$color_mid_blue: #2980b9;
$color_pale_blue: #e2f0f9;
$color_mid_orange: #ec920c;
$color_pale_orange: #f9f3e2;
$color_mid_red: #b92929;
$color_pale_red: #f9e2e2;
$color_mid_green: #50b929;
$color_pale_green: #e6f9e2;
$color_mid_grey: #999;
$color_pale_grey: #eee;

@mixin clearfix() {
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.verification-tool__table,
.verification-tool__blank-slate {
    margin-top: 1em;
    border: 1px solid #ccc;
}

.verification-tool__table {
    width: 100%;
    border-collapse: collapse;

    td {
        padding: 1em;
        vertical-align: top;
    }

    h3 {
        .mw-ui-button {
            font-size: 0.8em;
            margin: 0 0.5em;
        }

        .language-chooser {
            width: 3em;
            font-weight: inherit;
            font-size: inherit;
            text-align: right;
        }
    }

    tr:target, .targetted {
        animation: background-yellow-to-white 5s 1;
    }
}

.verification-tool__blank-slate {
    text-align: center;
    padding: 3em;
}

.verification-tool__spinner {
    display: inline-block;
    margin: 0 0.5em;
    height: 1em;
    vertical-align: -0.1em;

    span {
        display: inline-block;
        height: 100%;
        width: 5px;
        background: #000;
        animation: stretchdelay 1s infinite ease-in-out;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: (-1s + ($i / 10));
            }
        }
    }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
  }
}

@keyframes background-yellow-to-white {
  0%, 50% {
    background: #ffffcc;
  }
  100% {
    background: #ffffff;
  }
}

.verification-tool__table__cell-label {
    font-size: 0.8em;
    font-weight: bold;
    display: block;
}

.verification-tool__table__cell-link {
    padding: 0.5em;
}

.verification-tool__table__cell--narrow {
    width: 0;
}

.verification-tool__controls {
    @include clearfix();
    margin: 0 -0.5em -0.5em -0.5em;

    // Compensate for vertical padding on buttons.
    .mw-ui-button {
        margin-top: -0.546875em;
        margin-bottom: -0.546875em;
    }
}

.verification-tool__controls__group {
    float: left;
    padding: 1em 0.5em;
}

.verification-tool__statement-controls {
    padding: 0.5em 1em;
    border-bottom: 3px solid $color_mid_blue;
    background: $color_pale_blue;
}

.verification-tool__statement-controls--error,
.verification-tool__statement-controls--unverifiable {
    border-color: $color_mid_red;
    background-color: $color_pale_red;
}

.verification-tool__statement-controls--done {
    border-color: $color_mid_green;
    background-color: $color_pale_green;
}

.verification-tool__statement-controls--manually_actionable {
    border-color: $color_mid_grey;
    background-color: $color_pale_grey;
}
