<div id="verification-tool">
  <div v-if="loaded">
    <button v-on:click="prevStatement()" class="mw-ui-button">Previous</button>
    <button v-on:click="nextStatement()" class="mw-ui-button">Next</button>
    <span style="float: right;">
      Type
      <select v-model="displayType">
        <option value="all">Show all ({{ countStatementsOfType('all') }})</option>
        <option value="verifiable" v-bind:disabled="countStatementsOfType('verifiable') === 0">Verifiable ({{ countStatementsOfType('verifiable') }})</option>
        <option value="unverifiable" v-bind:disabled="countStatementsOfType('unverifiable') === 0">Unverifiable ({{ countStatementsOfType('unverifiable') }})</option>
        <option value="reconcilable" v-bind:disabled="countStatementsOfType('reconcilable') === 0">Reconcilable ({{ countStatementsOfType('reconcilable') }})</option>
        <option value="actionable" v-bind:disabled="countStatementsOfType('actionable') === 0">Actionable ({{ countStatementsOfType('actionable') }})</option>
        <option value="manually_actionable" v-bind:disabled="countStatementsOfType('manually_actionable') === 0">Manually actionable ({{ countStatementsOfType('manually_actionable') }})</option>
        <option value="done" v-bind:disabled="countStatementsOfType('done') === 0">Done ({{ countStatementsOfType('done') }})</option>
      </select>
      &nbsp;&nbsp;
      Statement
      <input v-model:number="displayIndex" type="number" style="width: 40px;">
      of {{ currentStatements.length }}
    </span>
  </div>
  <div v-if="loaded && currentStatements.length === 0" class="verification-tool__blank-slate">
    <div v-if="displayType === 'all'">
      No statements
    </div>
    <div v-else>
      No “{{ displayType }}” statements – <a v-on:click="displayType = 'all'">Try showing all statements</a>
    </div>
  </div>
  <div v-if="loaded && currentStatements.length > 0">
    <table style="width: 100%; margin-top: 1em; border: 1px solid #ccc; border-collapse: collapse; table-layout: fixed;">
      <tr>
        <td style="padding: 1em;">
          <span style="font-size: 0.8em; font-weight: bold; display: block;">Subject</span>
          <wikilink :id="statement.person_item">{{ statement.person_name }}</wikilink>
        </td>
        <td style="padding: 1em;">
          <span style="font-size: 0.8em; font-weight: bold; display: block;">District</span>
          <wikilink :id="statement.electoral_district_item">{{ statement.electoral_district_name || '&nbsp;' }}</wikilink>
        </td>
        <td style="padding: 1em;">
          <span style="font-size: 0.8em; font-weight: bold; display: block;">Parliamentary group</span>
          <wikilink :id="statement.parliamentary_group_item">{{ statement.parliamentary_group_name || '&nbsp;' }}</wikilink>
        </td>
        <td style="padding: 1em;">
          <span style="font-size: 0.8em; font-weight: bold; display: block;">Type</span>
          {{ statement.type }}
        </td>
        <td style="padding: 1em;">
          <span style="font-size: 0.8em; font-weight: bold; display: block;">Transaction ID</span>
          {{ statement.transaction_id }}
        </td>
      </tr>
      <tr>
        <td colspan="5" v-bind:class="'verification-tool__statement-controls verification-tool__statement-controls--' + statement.type">
          <span v-if="!submitting">
            <component v-bind:is="currentView" :statement="statement" :page="page"></component>
          </span>
          <span v-else>
            Submitting...
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div v-if="!loaded" class="verification-tool__blank-slate">
    <span class="verification-tool__spinner">
        <span></span>
        <span></span>
        <span></span>
    </span>
    Loading…
  </div>
</div>
