<div id="verification-tool">
  <div v-if="loaded" class="verification-tool__controls">
    <div class="verification-tool__controls__group">
      <label for="sortBy">Sort by</label>
      <select v-model="sortBy" id="sortBy">
        <option value="lastName">Last name</option>
        <option value="firstName">First name</option>
        <option value="parliamentaryGroup">Parliamentary group</option>
        <option value="district">District</option>
        <option value="type">Type</option>
      </select>
    </div>
  </div>
  <div v-if="loaded && currentStatements.length === 0" class="verification-tool__blank-slate">
    No statements
  </div>
  <div v-if="loaded && currentStatements.length > 0">
    <table class="verification-tool__table">
      <thead>
        <tr>
          <th>Confirmed?</th>
          <th>Subject</th>
          <th>District</th>
          <th>Parliamentary group</th>
          <th></th>
        </tr>
      </thead>
      <Statement v-for="statement in currentStatements" :statement="statement" :page="page" :country="country"></Statement>
    </table>
  </div>
  <div v-if="!loaded" class="verification-tool__blank-slate">
    <span class="verification-tool__spinner">
        <span></span>
        <span></span>
        <span></span>
    </span>
    Loading up-to-date statements… (this might take a while)
  </div>
</div>
