<% if @page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@page.errors.count, "error") %> prevented this page from being saved:</h2>

    <ul>
    <% @page.errors.messages.each do |field, messages| %>
      <li>
        <code><%= field %></code>: <%= messages.join(', ') %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>
